div {
    background-image: url(https://ik.imagekit.io/pqawu7zva/todolistbg.webp?);
    width: 350px;
    height: 700px;
    color: white;

    .roboto-light {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
    }
    
    .btn{
        background-color: orange;
    }
    }